.styled-button {
    padding: 1px 2rem;
    border-radius: 0.4rem;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    user-select: none;
    transition-duration: 150ms;
    line-height: 15px;

}
.styled-button:hover {
    opacity: 0.8;
}
.styled-button-disabled:hover {
    opacity: 0.25;
}

.card {
    border-radius: 0.13rem;
    background-color: lightblue;
    z-index: 2;
}

.habit-card {
    font-family: "Montserrat", sans-serif;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    transition-duration: 250ms;
}

.habit-hover-animation:hover {
    transform: scale(0.99);
}

.styled-input {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 0.13rem;
    width: 20rem;
    height: 3.2rem;
    padding: 0.1rem 0.5rem;
    border: none;
}

.styled-textarea {
    font-family: "Montserrat", sans-serif;
    border-radius: 0.13rem;
    padding: 1rem 0.5rem;
    height: 12rem;
    border: none;
}

.item-completed {
    background-color: lightblue;
}

.item-incomplete {
    background-color: lightgray;
}

.circle-indicator {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;
    transition-duration: 40ms;
}
.circle-indicator:hover {
    border: dotted;
    transform: scale(0.88);
}

