@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", "sans-serif";
}

.nofocus {
    filter: blur(2px);
    cursor: none;
    pointer-events: none;
}

.centered-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.unstyled-href {
    text-decoration: none;
}
