@tailwind components;
@tailwind utilities;

.nofocus {
    filter: grayscale(0.5);
    cursor: none;
    pointer-events: none;
}

.centered-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.styled-input {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    border-radius: 0.13rem;
    width: 20rem;
    height: 3.2rem;
    padding: 0.1rem 0.5rem;
    border: none;
}

.styled-textarea {
    font-family: "Montserrat", sans-serif;
    border-radius: 0.13rem;
    padding: 1rem 0.5rem;
    height: 12rem;
    border: none;
}

.unstyled-href {
    text-decoration: none;
}
