div a svg {
    width: 7%;
}

.sidebar {
    font-family: "Montserrat", sans-serif;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
}

.sidebar a {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.flex-spacer {
    flex-grow: 1;
}

.sidebar-content {
    margin-left: 264px;
    box-sizing: inherit;
    width: fit-content;
    white-space: initial;
}

.sidebar-selection {
    padding: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.selected {
    background-color: lightblue;
    border-radius: 0.44rem;
}

